<div class="side-bar__header">
  <div class="side-header__name"><a href="#">Bob</a></div>
  <div class="side-header__btn"><a href="#">チャットを作成する</a></div>
</div>

<div class="side-bar__rooms">
  <div class="room">
      <div class="room__name"><a href="#">TestRoom1</a></div>
  </div>
  <div class="room">
      <div class="room__name"><a href="#">TestRoom2</a></div>
  </div>
</div>